.blog > h2, h3, h4 {
  font-weight: bold;
  margin-top: 20px;
}

.blog > h2, h3 {
  text-align: center;
}

.blog > img {
  margin: 0 auto;
  display: block;
}

.blog > p {
  padding-top: 10px;
}

.intro {
  font-style: italic;
}

.recap > li {
  font-weight: bold;
}

.reduce-lg {
  height: 50%;
  width: 50%;
}

.reduce-sm {
  height: 80%;
  width: 80%;
}

@media (max-width: 767px) {
  .reduce-lg {
    height: 70%;
    width: 70%;
  }
}
