.blog > h2, h3, h4 {
  font-weight: bold;
}

.blog > h2, h3 {
  text-align: center;
}

.blog > img {
  margin: 0 auto;
  display: block;
}

.blog > p {
  padding-top: 10px;
}

.intro {
  font-style: italic;
}

.recap > li {
  font-weight: bold;
}

#row-of-cats {
  height: calc(60%);
  width: calc(60%);
}
