<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacob Worrel | Readings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/name-animation.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./../index.html">
          <div class="clip-text clip-text_twelve clip-text--cover">Jacob Worrel</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a id="projects" class="nav-link" href="./projects.html">Projects</a>
            </li>
            <li class="nav-item">
              <a id="writing" class="nav-link" href="./writing.html">Writing</a>
            </li>
            <li class="nav-item">
              <a id="readings" class="nav-link" href="./readings.html">Readings</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" href="./contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="jumbotron">
        <ul class="readings">
          <li class="readings-item">Some useful pointers for <a href="https://medium.com/javascript-inside/some-thoughts-on-testing-react-redux-applications-8571fbc1b78f">testing a React/Redux application</a>.</li>
          <hr />
          <li class="readings-item">OMG YAAAS! <a href="https://medium.com/programmers-developers/synchronous-fetch-with-async-await-b45d87a16177">Synchronous data fetching</a> using fetch() and async/await.</li>
          <hr />
          <li class="readings-item">How to make your React components more <a href="https://www.okgrow.com/posts/compose-react-sphoc">composable</a> using Higher Order Components (HOCs) and Recompose.</li>
          <hr />
          <li class="readings-item">Interesting <a href="https://techcrunch.com/2017/10/28/why-snapchat-spectacles-failed/">post mortum</a> on why Snap's Spectacles failed despite being one of the coolest and most hyped products of the year.</li>
          <hr />
          <li class="readings-item">Wow, the Netflix UI team just <a href="https://twitter.com/NetflixUIE/status/923374215041912833">posted on Twitter</a> that removing client side React resulted in a 50% performance improvement on their landing page. SSR for the win!</li>
          <hr />
          <li class="readings-item">JavaScript ranked #1 most popular programming language according to Github's <a href="https://octoverse.github.com/">State of the Octoverse</a> 2017 report.</li>
          <hr />
          <li class="readings-item">A solid <a href="https://medium.com/ux-for-india/5-states-of-modern-digital-interaction-1b99fe6ccb9b">breakdown</a> of the different UX states to consider when designing a modern application.</li>
          <hr />
          <li class="readings-item">Alas, we will need to wait until the end of 2017 for <a href="https://medium.com/dailyjs/es6-modules-node-js-and-the-michael-jackson-solution-828dc244b8b">support for ES6 modules in Node.js</a>.</li>
          <hr />
          <li class="readings-item">Probably the greatest <a href="http://www.businessinsider.com/npm-left-pad-controversy-explained-2016-3">cautionary tale</a> on why we should all strive for fewer dependencies.</li>
        </ul>
        <div class="social-container">
          <ul class="list-inline">
            <li><a href="https://github.com/jacobworrel/"><i class="fa fa-github fa-fw fa-2x"></i></a></li>
            <li><a href="https://angel.co/jacob-worrel"><i class="fa fa-angellist fa-fw fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jacobworrel"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../js/main.js"></script>
  </body>
</html>
